.caption {
  margin-top: 5px;
  margin-bottom: 5px;
}

.caption .username {
  font-weight: bold;
  margin-right: 5px;
}


.container {
    width: 500px;
    padding: 6px;
    margin-bottom: -1px;
    border: 1px solid #e0e0e0;
}