<app-post [post]="post"></app-post>
<div class="container">
    <div>
      <button (click)="sortComments('best')">Sort by: Best Comments</button>
      <button (click)="sortComments('newest')">Sort by: Newest Comments</button>
    </div>
    <p>Average Comments Rating: {{ rating }} / 10.0</p>
    <form (ngSubmit)="addComment()">
      <div class="form-group">
        <label for="commentText">Your Comment: </label>
        <input type="text" class="form-control" id="commentText" [(ngModel)]="newCommentText" name="commentText" required>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
    </form>
  </div>
<div class="container">
    <app-comment *ngFor="let comment of sortedComments" [comment]="comment"></app-comment>
</div>