.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  padding-right: 0.5rem;
}
